ul {
	width: max-content;
	height: max-content;
	margin: 150px auto;
	padding: 0;
}

li.list-item {
	width: 80px;
	height: 30px;
	display: inline-block;
	margin: 5px 15px;
	padding: 0;
	border: 1px solid grey;
	background-color: #424242;
	color: #EFEFEF;
}

p.text {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}
